# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

*/creds/
train_dir
*/train_dir/
vit-human-pose-classification
vit-human-pose-classification/
*.safetensors
*.pkl
*.pth
*.pt
*.ckpt
*.ckpt-*
*.ckpt_*
*.ckpt.*
*.bin
*.tar
*/runs/
*/runs_*
*/runs/*
*tfevents*
*vocab.txt
*config.json
*tokenizer.json
*tokens_map*
*special_token*
*trainer_state*
*spiece.model*
.aws

# Pycharm (not ideal)
.idea